<body id="misc">
  <div class="title"><h1>{{title}}</h1></div>
  <div class="hobbies">
    <h2>Hobbies</h2>
    <p id="head">Music:</p>
    <p>I believe I have one of the most unusual tastes in music. The music I listen to ranges from Metal to various forms of house music to Irish music. I used play the drums and make covers in my basement to many different songs, and now prefer to just listen and sometimes try to learn piano.</p>
    
    <p id="head">Video Games:</p>
    <p>I enjoy playing video games competitively in some way. Recently I have been speedrunning single player games to beat them as quickly as possible. I also spend time experimenting with game development using Unity. I have taken a break to improve my over all programming skills and will go back once I am satisfied with the languages I am currently learning.</p>

    <p id="head">Golf:</p>
    <p>I rarely play golf myself, but I enjoy it when I do. I find golf to be a very interesting game because there is so much down time, but to be good at the game it takes a lot of mental energy. It also gives me a good opportunity to find new places to travel to.</p>
  </div>
  <div class="travel">
    <h2>Travel</h2>
    <p id="head">Traveled to Ireland, Scotland, London, Colorado, Hawaii, Arizona and many other locations</p>
    <p id="head">My favorite locations to travel to tend to be areas with mountains. This is mostly because of the scenery, but it may also have to do with the fact that I don't really enjoy the beach. However I still enjoy tropical areas.</p>
  </div>
</body>