<body id="goals">
  <div class="title"><h1>{{title}}</h1></div>
  <div id="long-term">
    <h2>Long-term</h2>
    <p>My main goal is to end up in Silicon Valley as a software engineer. I currently spend most of my time studying and applying for jobs hoping to eventually reach this goal.</p>
  </div>

  <div id="short-term">
      <h2>Short-term</h2>
      <p id="head">I am currently working on a satire news website that will be run by friends of mine. They will upload articles and comics of their choice and users will be able to make accounts to receive newsletters and choose favorite articles.</p>
      <p id="head">A relatively new goal of mine is to become an indie game developer. I have a few ideas that I would like to follow through with some day.</p>
    </div>
</body>