<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<body id="skills">

  <div class="skills">
    <h1>{{title}}</h1>
    <div class="devicon">
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-python-plain"></i>      
    </div>
    <div class="devicon">
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-css3-plain-wordmark"></i>
    </div>
    <div class="devicon">
        <i class="devicon-php-plain"></i>
        <i class="devicon-mysql-plain-wordmark"></i>
    </div>
    <div class="devicon"><i class="devicon-angularjs-plain"></i></div>
  </div>
</body>
