<body>
  <div class="icon">
    <a href="top" id="link0"><img src="src/app/img/Logo.png"></a>
  </div>
  <div class="navbar">
    <ul>
      <a href="top" id="link1"><li>Home</li></a>
      <a href="top" id="link2"><li>About Me</li></a>
      <a href="top" id="link3"><li>Skills</li></a>
      <a href="top" id="link4"><li>Projects</li></a>
      <a href="top" id="link5"><li>Misc</li></a>
      <a href="top" id="link6"><li>Goals</li></a>
    </ul>
  </div>
  
  <div class="contact">
    <h3>Contact</h3>
    <ul>
      <li>973-647-5093</li>
      <li>Joseph.ganning@gmail.com</li>
      <li>550 Sussex Ave, Morristown, NJ</li>
    </ul>
    <div class="flex">
      <div  id="ficons">
        <a href="https://www.linkedin.com/in/joseph-ganning-078b4b166/"><i class="fa fa-linkedin"></i></a>
      </div>
      <div  id="ficons">
        <a href="https://github.com/JGanning"><i class="fa fa-github"></i></a>
      </div>
    </div>
  </div>
  
</body>
